:root {
    --purple: rgb(214, 174, 221);
    --darkpurple: rgb(48, 5, 91);
    --coral: rgb(247, 129, 84);
    --olive: rgb(75, 80, 67);
    --yellow: rgb(255, 250, 105);
    --center-offset: 150px;
    --font: "glowworm-mn", sans-serif;
  }

body {
    background-color: var(--darkpurple);
    font-family: var(--font);
    padding: 40px 0;
    font-family: "glowworm-mn", sans-serif;
    background-color: #fff;
    cursor: url('assets/bearpaw1.png'), auto;
}

h1 {
    color: var(--purple);
    font-size: 5rem;
    font-family: var(--font);
    text-align: center;
    
    position: relative;
    right: var(--center-offset);
}

p {
    font-family: var(--font);
    font-size: 3rem;
    width: 40%;
    color: var(--yellow);
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0px, -50px);
}

p.center {
    text-align: center;
    font-family: var(--font);
    font-size: 3rem;
    color: var(--yellow);
    
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animatedFadeInUp2 {
    opacity: 0
}

.fadeInUp2 {
    opacity: 0;
    animation-name: fadeInUp2;
    animation-delay: 1s;
    -webkit-animation-name: fadeInUp2;
    -webkit-animation-delay: 1s;
}
