:root {
    --purple: rgb(176, 132, 204);
    --darkpurple: rgb(118, 42, 116);
    --coral: rgb(255, 125, 121);
    --olive: rgb(65, 57, 62);
    --yellow: rgb(160, 221, 255);
    --center-offset: 150px;
    --font: "glowworm-mn", sans-serif;
  }

body {
    background-color: var(--darkpurple);
    padding: 40px 0;
    font-family: "glowworm-mn", sans-serif;
    background-color: #fff;
    cursor: url('assets/bearpaw1.png'), auto;
}

h1 {
    color: var(--purple);
    font-size: 5rem;
    font-family: "glowworm-mn", sans-serif;
    text-align: center;
    
    position: relative;
    right: var(--center-offset);
}

p {
    font-family: "glowworm-mn", sans-serif;
    font-size: 3rem;
    width: 40%;
    color: var(--yellow);
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0px, -50px);
}

p.center {
    text-align: center;
    font-family: "glowworm-mn", sans-serif;
    font-size: 3rem;
    color: var(--yellow);
    
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animatedFadeInUp2 {
    opacity: 0
}

.fadeInUp2 {
    opacity: 0;
    animation-name: fadeInUp2;
    animation-delay: 1s;
    -webkit-animation-name: fadeInUp2;
    -webkit-animation-delay: 1s;
}
