:root {
    --purple: rgb(214, 174, 221);
    --darkpurple: rgb(48, 5, 91);
    --coral: rgb(247, 129, 84);
    --olive: rgb(75, 80, 67);
    --yellow: rgb(255, 250, 105);
    --center-offset: 150px;
  }

body {
    background-color: var(--darkpurple);
    font-family: "Helvetica";
}

h1 {
    color: var(--purple);
    font-size: 5rem;
    text-align: center;
    
    position: relative;
    right: var(--center-offset);
}

p {
    text-align: center;
    font-size: 3rem;
    color: var(--yellow);
    
    position: relative;
    left: var(--center-offset);
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUp2 {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animatedFadeInUp2 {
    opacity: 0
}

.fadeInUp2 {
    opacity: 0;
    animation-name: fadeInUp2;
    animation-delay: 1s;
    -webkit-animation-name: fadeInUp2;
    -webkit-animation-delay: 1s;
}