.password-input {
    height: 100px;
    margin: auto;

    position: absolute;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
}

input[type=submit] {
    width: 225px;
    height: 50px;
    font-size: 1.3rem;
    font-family: var(--font);
    padding: 5px 5px;
    color: var(--purple);
    background-color: var(--olive);
    border: none;
}

input[type=submit]:hover {
    cursor: pointer;
    border: none;
    padding: 5px 5px;
    color: var(--purple);
    background-color: var(--olive);
}