body {
  background-color: pink;
  font-family: "Helvetica";
}

h1 {
  color: darkred;
  font-size: 5rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: darkmagenta;
}

form {
  text-align: center;
  margin: 20px;
}

input[type=date] {
  color: purple;
  height: 20px;
  padding: 2px 10px;
}

label[for=datepick] {
  color: gray;
}

.mainForm {
  display: inline;
}

.mainContent {
  text-align: center;
}

input[type=submit]{
  background-color: lightgray;
  border: none;
  border-bottom: 2px solid black;
  color: darkgreen;
  width: 25%;
  margin: 20px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  transition: ease-in 0.25s;
  background-color: black;
  color: aquamarine;
  width: 25%;
  margin: 20px 20px;
  cursor: pointer;
}

