:root {
  --purple: rgb(214, 174, 221);
  --pink: rgb(221, 174, 204);
  --lightred: rgb(221, 174, 181);
  --clay: rgb(221, 191, 174);
  --yellow: rgb(221, 214, 174);
  --green: rgb(205, 221, 174);
}

body {
  background-color: var(--purple);
  font-family: "Helvetica";
}

h1 {
  color: var(--lightred);
  font-size: 5rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--pink);
}

form {
  text-align: center;
  margin: 20px;
}

input[type=date] {
  color: var(--yellow);
  background-color: var(--pink);
  height: 20px;
  padding: 2px 10px;
}

label[for=datepick] {
  color: var(--pink);
}

.mainForm {
  display: inline;
}

.mainContent {
  text-align: center;
}

input[type=submit]{
  background-color: var(--lightred);
  border: none;
  border-bottom: 2px solid var(--green);
  color: var(--pink);
  height: 50px;
  width: 25%;
  margin: 20px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  transition: ease-in 0.25s;
  background-color: var(--green);
  cursor: pointer;
}